workflows/context-assembly/context-api.json
{
  "name": "Context Assembly API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/assemble-context",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "assemble-context-webhook"
    },
    {
      "parameters": {
        "content": "## Context Assembly Flow\n\nThis workflow:\n1. Receives context assembly requests\n2. Validates input parameters\n3. Executes Python script to load context\n4. Returns assembled prompt as JSON",
        "height": 160,
        "width": 280,
        "color": 4
      },
      "id": "sticky-note-1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "required-task",
              "leftValue": "={{ $json.body.task }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "required-mode",
              "leftValue": "={{ $json.body.mode }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Missing required parameters. Expected: task, mode\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        420
      ]
    },
    {
      "parameters": {
        "command": "python",
        "arguments": "={{ $json.body.mode }} {{ $json.body.task }} {{ $json.body.framework || '' }} {{ $json.body.project || '' }}",
        "options": {
          "cwd": "C:/Users/JRiel/prompt-engineering-system/scripts"
        }
      },
      "id": "execute-context-loader",
      "name": "Execute Context Loader",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        680,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse the Python script output\nconst output = $input.first().json.stdout;\n\ntry {\n  // Try to parse as JSON first\n  const parsedOutput = JSON.parse(output);\n  \n  return {\n    success: true,\n    prompt: parsedOutput.prompt || parsedOutput,\n    metadata: {\n      task: $('Webhook Trigger').first().json.body.task,\n      mode: $('Webhook Trigger').first().json.body.mode,\n      framework: $('Webhook Trigger').first().json.body.framework || null,\n      project: $('Webhook Trigger').first().json.body.project || null,\n      timestamp: new Date().toISOString(),\n      token_estimate: parsedOutput.token_estimate || null\n    }\n  };\n} catch (e) {\n  // If not JSON, treat as plain text prompt\n  return {\n    success: true,\n    prompt: output.trim(),\n    metadata: {\n      task: $('Webhook Trigger').first().json.body.task,\n      mode: $('Webhook Trigger').first().json.body.mode,\n      framework: $('Webhook Trigger').first().json.body.framework || null,\n      project: $('Webhook Trigger').first().json.body.project || null,\n      timestamp: new Date().toISOString()\n    }\n  };\n}"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "// Handle execution errors\nconst error = $input.first().json;\n\nreturn {\n  success: false,\n  error: \"Failed to execute context loader\",\n  details: error.stderr || error.error || \"Unknown error\",\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "handle-execution-error",
      "name": "Handle Execution Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        360
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "execution-error-response",
      "name": "Execution Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        360
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Execute Context Loader",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Context Loader": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response": {
      "main": []
    },
    "Error Response": {
      "main": []
    },
    "Handle Execution Error": {
      "main": [
        [
          {
            "node": "Execution Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Error Response": {
      "main": []
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-27T00:00:00.000Z",
  "versionId": "1"
}
